<div id="intro-bar">
  <div class="introbar-center">
      <div class="intro-bar-left">
          <span class="introbar-heading">Create Project and <br>
            Collaborate with the World</span>


        <div class="introbar-buttondiv">
            <button class="btn-large btn-inverse button-left" type="button">Learn More</button>

            <button class="btn-large btn-inverse" type="button">Register Now</button>
        </div>
      </div>


      <div class="intro-bar-right">
        <img src="http://www.sdepl.in/images/ProjectIcon_1.png" />

      </div>
  </div>

</div>
