<div id="intro-bar">
  <div class="introbar-center">
      <div class="intro-bar-left">
          <span class="introbar-heading">Create Project and <br>
            Collaborate with the World</span>
        <div class="introbar-buttondiv">
            <%= link_to "Learn More", about_path, :class => "btn-large btn-inverse button-left"%>
          <%= link_to "Register Now", new_user_registration_path, :class => "btn-large btn-inverse button-left" %>
        </div>
      </div>
      <div class="intro-bar-right">
        <img width="220px" src="http://2.bp.blogspot.com/_jicifLkLsXA/TLzaifvX0dI/AAAAAAAAA-o/k-MAzxEoZ90/s1600/PuzzlePieces3.png" />
      </div>
  </div>

</div>
