<div id="intro-bar">
  <div class="introbar-center">
      <div class="intro-bar-left">
          <span class="introbar-heading">Create Project and Collaborate with the World</span>
          <span class="introbar-slogan">Anything is possible</span>
      </div>
  </div>
</div>