<div id="about-content" class="row-fluid">

    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">About Projectore</li>
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">User Profiles</a></li>
        <li><a href="#">Project Subscriptions</a></li>

      </ul>
    </div>

    <div class="span9">

        <h3>Overview</h3>
        <p>Projectore is a online platform which enables individuals from all over the world to connect and do something special and amazing.
          It help brings ideas and passion together.
        Whether it is a book, a piece of art, or an engineering project, users can post their projects from all categories and genres
          </p>

        <p>

        It is a hub that pools together like minded individuals which otherwise never be able to come together and meet.

        It is also a place to showcase and display your projects for peer review. You get to choose how much information you like to
        share with the world.

        Members of our site can choose to follow a projects by getting tweets and emails from its latest activities and adventures
        . This way they may stay tuned on the latest development in case they wish to participate.

        </p>


        <h3>Features</h3>

        <p></p>
        We offer simple and user-friendly task management tools.

        Users will be able to use these task management tools to prioritize tasks and manage workflow.

      </p>
        <p>
        With Projectore, communication between members has never been easier. You can private message one another or use the build in
          chatroom for each projects for a group meeting.

        </p>

        <p></p>



        <h3> User profiles </h3>
        <p>One of the few things we recognize is that the user must show online what kind of the projects he is interested, and hence
      attract potential partners, and employers alike.

      If you wish to form a band, and you are missing a drummer, you may go here and search for a person with a particular
      location and talent.

      Drumming and music would be part of the user's inventory of skills and interests.</p>

        <h3>Handy project management features</h3>

        We have implemented very minimal and easy to use project management features. Unlike a full blown project management software such as Microsoft Project, we provide minimal but powerful sets of tools which get the job done while maintaining simplicity.

        <h3>Communication</h3>
        <p>You may choose to communicate with the project owner,or communicate with each member of the project via instant message.
        If you see a project that you are interested in being a part of.

        We also have a chatroom in each projects which ppl may openly communicate on the page. Each respective chatroom would
        belong to its project. The admins of the chatroom would be the admins of the projects</p>


        <h3>Types of Projects</h3>

        <p>Any political event and rallies can be organized, bake sales, garage sales etc. The only thing we ban are projects and events
        based on hatred, racism, and pornography.</p>
    </div>
</div>



