
<div id="about-content" class="row-fluid">
  <div class="span3">
    <ul class="nav nav-list nav-stacked">
          <li class="nav-header">About Projectore</li>
          <li><a href="#1">What is Projectore</a></li>
          <li><a href="#2">Features</a></li>
          <li><a href="#3">Projects</a></li>
    </ul>
  </div>
  <div class="span9">
  
      <h3 id="1">What is Projectore</h3>
      <p>
      Projectore is a free online platform where anyone can promote a project or idea. All ideas need to start somewhere, and Projectore is place to do just that.
      Projects need people. Projectore is a hub that brings together like-minded individuals who may otherwise never be able to meet and collaborate. 
      Projects need exposure. Projectore is a place to showcase and display projects and ideas for others to review and discover. You get to choose exactly how much about your idea you would like to share with the world. 
      Projects need communication. Members of Projectore can choose to follow a project, receiving tweets and emails updating and informing you about a project’s recent activities and progress. This way, everyone can stay tuned on the latest developments in case they wish to participate.</p>
   
    <br>

   
      <h3 id="2">Features</h3>
      <p>We offer simple and user-friendly task management tools. Users can use these tools to prioritize tasks and manage workflow. Check some of them out here:
      <ul class="unstyled">
        <li>
          <h4>User Profiles</h4>
          <p>User profiles enable users to communicate online exactly what kinds of projects they are interested in. This information is key for attracting potential partners and employers alike. 
          For example: You’re looking to form a band, but you don’t know anyone who can play the drums! Projectore offers a place to search for a person within a particular location, who has the necessary talents you’re looking for. “Drumming” and “music” would both be part of the user's inventory of skills and interests.</p>
        </li>
        <li>
          <h4>Project Management Features</h4>
          <p>Project management software can be messy and complicated. Projectore offers very simple and easy to use project management features. Unlike full-blown project managers such as Microsoft Project, we provide minimal but powerful sets of tools that get the job done while maintaining simplicity.</p>
        </li>
        <li>
          <h4>Communication</h4>
          <p>So, you’ve found a project and you’d like to join! You may want to communicate with the project owner, or maybe with a particular member of the project via instant message. Want to talk to everyone in the project at once? The chatroom feature in each project allows many users to openly communicate without any hassle. The owners of the project are also the owners of the chatroom, they are in charge of which messages are displayed and can administrate the chatroom at will.</p>
        </li>
      </ul>
    
    <br>
    
      <h3 id="3">What kind of projects can I create</h3>
      <p>On Projectore, your idea is free! You can start just about any project you’d like - political events, rallies, bake sales, business ideas; anything you can think of! 
      However, Projectore may not be used for projects and events based on hatred or racism – and any pornographic or otherwise inappropriate content will be promptly removed.</p>
    
    <br> 
  </div>

<!--
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">About Projectore</li>
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">User Profiles</a></li>
        <li><a href="#">Project Subscriptions</a></li>

      </ul>
    </div>

    <div class="span9">

        <h3>Overview</h3>
        <p>Projectore is a online platform which enables individuals from all over the world to connect and do something special and amazing.
          It help brings ideas and passion together.
        Whether it is a book, a piece of art, or an engineering project, users can post their projects from all categories and genres
          </p>

        <p>

        It is a hub that pools together like minded individuals which otherwise never be able to come together and meet.

        It is also a place to showcase and display your projects for peer review. You get to choose how much information you like to
        share with the world.

        Members of our site can choose to follow a projects by getting tweets and emails from its latest activities and adventures
        . This way they may stay tuned on the latest development in case they wish to participate.

        </p>


        <h3>Features</h3>

        <p></p>
        We offer simple and user-friendly task management tools.

        Users will be able to use these task management tools to prioritize tasks and manage workflow.

      </p>
        <p>
        With Projectore, communication between members has never been easier. You can private message one another or use the build in
          chatroom for each projects for a group meeting.

        </p>

        <p></p>



        <h3> User profiles </h3>
        <p>One of the few things we recognize is that the user must show online what kind of the projects he is interested, and hence
      attract potential partners, and employers alike.

      If you wish to form a band, and you are missing a drummer, you may go here and search for a person with a particular
      location and talent.

      Drumming and music would be part of the user's inventory of skills and interests.</p>

        <h3>Handy project management features</h3>

        We have implemented very minimal and easy to use project management features. Unlike a full blown project management software such as Microsoft Project, we provide minimal but powerful sets of tools which get the job done while maintaining simplicity.

        <h3>Communication</h3>
        <p>You may choose to communicate with the project owner,or communicate with each member of the project via instant message.
        If you see a project that you are interested in being a part of.

        We also have a chatroom in each projects which ppl may openly communicate on the page. Each respective chatroom would
        belong to its project. The admins of the chatroom would be the admins of the projects</p>


        <h3>Types of Projects</h3>

        <p>Any political event and rallies can be organized, bake sales, garage sales etc. The only thing we ban are projects and events
        based on hatred, racism, and pornography.</p>
    </div>
</div>
/-->


