<div class="sub-nav">
  <ul class="nav nav-tabs nav-stacked">
    <li class="nav-header">About Projecto</li>
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
  </ul>

</div>

<div id="about-content">
    <h3>Overview</h3>
    Projectore is a online website which allows individuals from all over the world to connect and do something special and amazing.
    Whether it is a book, a piece of art, or an engineering project etc.

    It is a hub that pools together like minded individuals which otherwise never be able to meet and come together.

    It is also a place to showcase and display your projects for peer review.

    Members of our site can choose to follow a website and getting tweets and emails from its latest activities and adventures
    if it chooses to.






    <h3>Details</h3>

    The owner of the project is able to assign administrator roles to the members who which to join the project


    <h3> User profiles </h3>
    One of the few things we recognize is that the user must show online what kind of the projects he is interested, and hence
  attract potential partners, and employers alike.

  If you wish to form a band, and you are missing a drummer, you may go here and search for a person with a particular
  location and talent.

  Drumming and music would be part of the user's inventory of skills and interests.

    <h3>Handy project management features</h3>

    We have implemented very minimal and easy to use project management features. Unlike a full blown project management
    software such as Microsoft Project, we give minimal but powerful set of tools that gets the job done, and maintaining
    its simplicity.

    <h3>Communication</h3>
    You may choose to communicate with the project owner,or communicate with each member of the project via instant message.
    If you see a project that you are interested in being a part of.

    We also have a chatroom in each projects which ppl may openly communicate on the page. Each respective chatroom would
    belong to its project. The admins of the chatroom would be the admins of the projects


    <h3>Types of Projects</h3>

    Any political event and rallies can be organized, bake sales, garage sales etc. The only thing we ban are projects and events
    based on hatred, racism, and pornography.

</div>



