<h2>Popular</h2>
<p class="lead">Top projects of the day.</p>

<div id="popular-projects-menu" class="subnav">
  <ul class="nav nav-pills">
    <li class="active"><a href="#">Most Viewed</a></li>
    <li><a href="#">Most Subscribed</a></li>
    <li><a href="#">Most Collaborators</a></li>
  </ul>
</div>

<div id="popular-projects">
	<div class="row">
	<% @projects.each_with_index do |project,index| %>
	  <div class="span3"><%= render partial: 'projects/display', locals: {project: project} %></div>
	  <% if (index+1)%4==0 %>
	    </div>
			<div class="row">
	  <% end %>
	<% end %>
	</div>
</div>

<div class="pagination pagination-centered pagination-large">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
