
<dl class="sub-nav">
  <dt>Categories</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">Arts</a></dd>
  <dd><a href="#">Music</a></dd>
  <dd><a href="#">Science</a></dd>
  <dd><a href="#">Engineering</a></dd>
  <dd><a href="#">Sports</a></dd>
</dl>

<div class="panel">
 <%= image_tag("site/orange.jpg", border: 0, class: 'dock-item')  %>
</div>