
<dl class="sub-nav">
  <dt>Categories</dt>
  <dd class="active"><%= link_to 'All', projects_path %></dd>
  <% Project::CATEGORIES.each do |cat| %>
    <dd><%= link_to cat, cat_path(cat) %></dd>  
  <% end %>
</dl>

<div class="panel">
 <%= image_tag("site/orange.jpg", border: 0, class: 'dock-item')  %>
</div>