


<div class="panel">
<%= image_tag("site/project.png", :border=>0, :class => 'dock-item')  %>
Projecto is an online collaboration platform which allows its users to come together from all over the world and work on projects.
<%= image_tag("site/collaboration.png", :border=>0, :class => 'dock-item')  %>
</div>

<dl class="sub-nav">
  <dt>Categories</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">Arts</a></dd>
  <dd><a href="#">Music</a></dd>
  <dd><a href="#">Science</a></dd>
  <dd><a href="#">,Engineering</a></dd>
  <dd><a href="#">Sports</a></dd>
</dl>