<div class="hero-unit">
  <h3>Creating Projects and Collaborate with the world</h3>
  <p>Anything is possible</p>
  <p>
    <a class="btn btn-inverted btn-large">
      Learn more
    </a>
  </p>
</div>

<div class="hero-unit">
  <h4>Projects by Category</h4>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">All</a>
    </li>

    <% Project::CATEGORIES.each do |cat| %>
        <li><%= link_to cat, cat_path(cat) %></li>
    <% end %>
  </ul>


</div>

<div class="hero-unit">
  <h4>Projects by Location</h4>



</div>
