
<div class="project-section">
   <div class="section-title">
    <span class="heading">Popular Projects</span>

     <span class="label label-success">View All</span>
   </div>

  <div class="section-menu">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Most Viewed</a></li>
      <li><a href="#">Most Subscribed</a></li>
      <li><a href="#">Most Collaborators</a></li>
    </ul>
  </div>

  <div class="section-body">
    <ul>
      <% @projects.each do |project| %>
          <%= render partial: 'projects/display', locals: {project: project} %>
      <% end %>
    </ul>
    <div class="section-bottom">
      <div class="pagination">
        <ul>
          <li><a href="#">Prev</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

