<div class="hero-unit">
  <h3>Creating Projects and Collaborate with the world</h3>
  <p>Anything is possible</p>
  <p>
    <a class="btn orange btn-large">
      Learn more
    </a>
  </p>
</div>

<div class="hero-unit">
  <h4>Projects by Category</h4>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">All</a>
    </li>

    <% Project.categories.each do |cat| %>
        <li><%= link_to cat, cat_path(cat), :remote=> true %></li>
    <% end %>
  </ul>

  <div class="project-box">
    <div class="project-image-box">

    <img src="http://findicons.com/files/icons/329/simple/128/closed_folder.png" class="img-polaroid"/>
    </div>

    <div>
      Project Name

    </div>
    <div class="project-description">
        This is a brief project description
    </div>

    <div class="project-action-panel">
      <i class="icon-eye-open"></i>

      <i class="icon-user"></i>
      <i class="icon-pencil"></i>
      <i class="icon-trash"></i>

    </div>
  </div>


</div>

<div class="hero-unit">
  <h4>Projects by Location</h4>

</div>
