<div class="hero-unit">
  <h3>Creating Projects and Collaborate with the world</h3>
  <p>Anything is possible</p>
  <p>
    <a class="btn btn-inverted btn-large">
      Learn more
    </a>
  </p>
</div>
