
    <div id="landing">
        <div class="hero-unit" id="banner">
          <div class="content">
              <h1>Projectore</h1>
              <p>What's on your mind?</p>
              <p>
                <a class="btn btn-primary btn-large">
                  Learn more
                </a>
              </p>
          </div>
        </div>
        <!--
                <div class="hero-unit" id="about1">
          <h1>Heading</h1>
          <p>Tagline</p>
          <p>
            <a class="btn btn-primary btn-large">
              Learn more
            </a>
          </p>
        </div>

        <div class="hero-unit">
          <h1>Heading</h1>
          <p>Tagline</p>
          <p>
            <a class="btn btn-primary btn-large">
              Learn more
            </a>
          </p>
        </div>
        //-->




        <div class="row">
            <div class="container" id="banner1">
            <h1>Hellow</h1>
            </div>

            <div class="container" id="banner2">
            <h1> fuck</h1>
            </div>

            <div class="container" id="banner3">
            <h1>ok</h1>
            </div>
        </div>

    </div>
