<div id="landing">
	<div class="hero-unit" id="banner">
	  <h1>Projectore</h1>
	  <p>What's on your mind?</p>
	  <p>
	    <a class="btn btn-primary btn-large">
	      Learn more
	    </a>
	  </p>
	</div>

	<div class="hero-unit">
	  <h1>Heading</h1>
	  <p>Tagline</p>
	  <p>
	    <a class="btn btn-primary btn-large">
	      Learn more
	    </a>
	  </p>
	</div>

	<div class="hero-unit">
	  <h1>Heading</h1>
	  <p>Tagline</p>
	  <p>
	    <a class="btn btn-primary btn-large">
	      Learn more
	    </a>
	  </p>
	</div>
</div>