    <div id="landing">
        <div class="hero-unit" id="banner">
          <h1>projectore</h1>
          <p>What's on your mind?</p>
          <p>
	          <%= link_to 'Learn more', about_path, class: 'btn btn-primary btn-large' %>
          </p>
        </div>

        <div class="hero-unit" id="about1">
          <div class="row">
              <div class="container">
                  <div class="span6 content">
                  <h1>Heading</h1>
                  <p>Tagline</p>
                  <p>
                    <a class="btn btn-primary btn-large">
                      Learn more
                    </a>
                  </p>
                  </div>
              </div>
          </div>
        </div>

      <div class="hero-unit" id="about1">
        <div class="row">
          <div class="container">
            <div class="span6 offset6 content">
              <h1>Heading</h1>
              <p>Tagline</p>
              <p>
                <a class="btn btn-primary btn-large">
                  Learn more
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

			<div class="hero-unit" id="signup">
				<div class="row-fluid">
			  <div class="span2"></div>
			  <div class="span8" style="text-align:center;">
					<h2>We will notify you for the beta!</h2>
			    <%= form_tag(nil,class: 'form-inline') do %>
			      <%= text_field_tag 'email', '', placeholder:  'Your email' %>
			      <%= submit_tag '' %>
			    <% end %>
		    </div>
		    <div class="span2"></div>
			  </div>
			</div>