
    <div id="landing">
        <div class="hero-unit" id="banner">
          <h1>Projectore</h1>
          <p>What's on your mind?</p>
          <p>
            <a class="btn btn-primary btn-large">
              Learn more
            </a>
          </p>
        </div>

        <div class="hero-unit" id="about1">
          <div class="row">
              <div class="container">
                  <div class="span6 content">
                  <h1>Heading</h1>
                  <p>Tagline</p>
                  <p>
                    <a class="btn btn-primary btn-large">
                      Learn more
                    </a>
                  </p>
                  </div>
              </div>
          </div>
        </div>

      <div class="hero-unit" id="about1">
        <div class="row">
          <div class="container">
            <div class="span6 offset6 content">
              <h1>Heading</h1>
              <p>Tagline</p>
              <p>
                <a class="btn btn-primary btn-large">
                  Learn more
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
