<div class="well">
  <% about_entry.each do |type,info| %>
    <% unless type == :title %>
      <b><%= type.to_s.gsub('_',' ').capitalize %></b>
      <%= info %>
    <% else %>
      <h4><u><%= info %></u></h4>
    <% end %>
  <% end %>
</div>
