<% details_entry.each do |type,info| %>

    <% unless type == :title %>
        <div class="profile-entry-content">
          <%= info %>
        </div>

    <% else %>
        <div class="profile-entry-title">
          <%= info %>
        </div>

    <% end %>
  <% end %>






