<legend>About</legend>

<div class="profile-entry">
  <div class="profile-entry-title">
    Project Owner:
  </div>

  <div class="profile-entry-content">
    Eric Webster
  </div>


</div>

<div class="profile-entry">
  <div class="profile-entry-title">
    Project Category:
  </div>

  <div class="profile-entry-content">
    Technology
  </div>


</div>

<div class="profile-entry">
  <div class="profile-entry-title">
    Description:
  </div>

  <div class="profile-entry-content">
    Projectore is a place where it pools like minded individuals from all over the world to embark on projects.
    We give the tools to manage the projects as well as the exposure to the world wide web.
  </div>


</div>

<div class="profile-entry">
  <div class="profile-entry-title">
    Mission Statement:
  </div>

  <div class="profile-entry-content">
    Projectore is a place where it pools like minded individuals from all over the world to embark on projects.
    We give the tools to manage the projects as well as the exposure to the world wide web.
  </div>


</div>

<div class="profile-entry">
  <div class="profile-entry-title">
    Purpose:
  </div>

  <div class="profile-entry-content">
    Projectore is a place where it pools like minded individuals from all over the world to embark on projects.
    We give the tools to manage the projects as well as the exposure to the world wide web.
  </div>


</div>



  <% outline_about.sort.map do |key,entry| %>
    <%= render partial: 'about_entry', object: entry %>
  <% end %>
