<div class="well well-small box">
<fieldset>
  <legend>About</legend>
  <% outline_about.sort.map do |key,entry| %>
    <%= render partial: 'about_entry', object: entry %>
  <% end %>
</fieldset>
</div>