<p>
  <%= link_to 'Edit Outline', edit_project_profile_path(@project_profile), class: 'btn' %>
</p>


<% @outline.each do |section,entries| %>
  <%= render partial: 'outline_about', object: entries if section==:about %>
<% end %>