<div class="edit-project-profile-div">

  <div class="corner-heading">
    <span>Editing Project Profile</span>
  </div>

  <div class="scroll-splitter"></div>


<%= render 'form' %>

<%= link_to 'Show', @project_profile %> |
<%= link_to 'Back', :back %>

</div>
