<div class="edit-project-profile-div">

  <div class="corner-heading">
    <span>Editing Project Profile</span>
  </div>

  <div class="scroll-splitter"></div>
	
	<% @details.sort.map do |key,entry| %>
    <%= render partial: 'details_entry_form', locals: {key: key, entry: entry} %>
  <% end %>

  <% unless @entry.nil? %>
    <p><%= render partial: 'details_entry_form', locals: { key: @key, entry: @entry } %></p>
	<% end %>
	
  <p>
  <%= link_to 'New Section', new_project_details_path(associated_project), class: 'btn' %>
  </p>

<p>
<%= link_to 'Back', project_details_path(@project_profile) %>
</p>


</div>
