
<div class="well">
	<h3>Project News</h3>
  <%= render partial: 'news_posts/index', locals: {news_posts: associated_project.news} %>
	<%= link_to 'New Post', new_project_news_post_path(associated_project) %>
  <%= image_tag("site/orange.jpg", border: 0, class: 'dock-item')  %>
</div>