
<%= render partial: 'outline', object: @outline %>

<div class="well">
  <h2>Project feed goes here</h2><br>
  <h4>Infinite scroll MTF!</h4>
  <%= image_tag("site/orange.jpg", border: 0, class: 'dock-item')  %>
</div>