<div class="container-fluid">

  <div class="inner-heading-div">
    <p>Invite Me


    </p>

  </div>

  <div class="scroll-splitter"></div>

  Invite me to work on

      <%= render 'form' %>



</div>
