<div class="single-comment-div well well-small">
  <div class="single-comment-inner">
    <div>
      <%= avatar_link(comment.user, type: 'thumb') %>
      <%= link_to_user_profile(comment.user) %>
    </div>
    <div class="comment-content">
      <%= comment.content %>
    </div>
  </div>
</div>
