
<% @comments.includes(user: :profile).each do |comment| %>
    <div class="single-comment-div">
      <div class="single-comment-inner">
        <div>
          <%= avatar_link(comment.user, type: 'thumb') %>
        </div>
        <div class="comment-content">
          <%= comment.content %>
          <br>
          <%= link_to 'Edit', edit_comment_path(comment) %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
<% end %>

