<div style="background: lightgray;position:absolute;width:400px;height:400px;">
	
<div style="background: orange;width:60px;height:60px;position:absolute;display: table;z-index:1">
	<p style="text-align:center;vertical-align: middle;display: table-cell;">This is text</p>
<% '1011011000000000'.bytes.each_with_index do |g,count| %>
  <% if g == 49 %>
    <div style="background: orange;width:20px;height:20px;position:absolute;<%= bump_position(count) %>">
	  </div>
	<% end %>
<% end %>
</div>

<div style="background: red;width:100px;height:100px;position:absolute;left:60px;">
</div>

<div style="background: red;width:100px;height:100px;position:absolute;top:60px;">
</div>

<div style="background: orange;width:60px;height:60px;position:absolute;display:table;z-index:1;left:80px;top:80px;">
	<p style="text-align:center;vertical-align: middle;display: table-cell;">This is text</p>
<% '1011011001001001'.bytes.each_with_index do |g,count| %>
  <% if g == 49 %>
    <div style="background: orange;width:20px;height:20px;position:absolute;<%= bump_position(count) %>">
	  </div>
	<% end %>
<% end %>
</div>

</div>