<div class="row-fluid">

<% @task_groups.each_with_index do |task_group,index| %>
<%= render partial: 'group', object: task_group %>
<% if index % 4 == 3 %>
  </div>
  <div class="row-fluid">
<% end %>
<% end %>
</div>

<p>
<%= link_to 'New Task group', new_project_task_group_path, class: 'btn' %>
</p>
