<% content_for :project_profiles_header_content do %>
  <%= render 'news_posts/new' %>
<% end %>

<% content_for :project_profiles_content do %>
  <h2 id="news-header">News</h2>
  <% @news_posts.each_with_index do |news_post,index| %>
    <div class="row-fluid">
      <%= render partial: 'post', object: news_post %>
    </div>
  <% end %>
<% end %>
