<%= render 'new' %>

<div class="scroll-splitter"></div>

<span>Project News</span>

<div class="scroll-splitter"></div>

<% @news_posts.each do |news_post| %>
  <%= render partial: 'post', object: news_post %>
<% end %>
