<div class="row-fluid">
  <div class="span4 signup-form-div">
    <%= render 'devise/sessions/new' %>
  </div>

  <div class="span4 signup-form-div">
    <%= render 'users/registrations/new' %>
  </div>
  <div class="span4">
    <h3> Richard Dawkins Is a Liar, a Thief and a Coward And That's Good Enough for the New Atheists </h3>
    <p>
      Richard Dawkins is clearly being disingenuous when he says that "none of the professors of philosophy whom I consulted had heard his name either." How about AC Grayling and Daniel Dennett? Those are two first-rate atheistic philosophers who Dawkins shares a very close relationship with. Grayling is a partner of Dawkins for the BHA and Dennett is an admittedly close friend who is on the front page of this site! Here is the key point: they have both participated in public and formal dialogues with Craig! So I cannot even imagine what other philosophers he contacted. It should be rather humiliating for those uninformed scholars. Surely we can all agree that Dawkins is being disingenuous here.</p>
  </div>
</div>