<div class="row-fluid">
  <div class="span6 signup-form-div">
    <%= render 'devise/sessions/new' %>
  </div>

  <div class="span6 signup-form-div">
    <%= render 'users/registrations/new' %>
  </div>
</div>