<p>
<%= link_to 'Edit Resume', edit_resume_path(@user_profile), :class=>"btn" %>
</p>

<% @resume.each do |section,entries| %>
<div class="well well-small box">
  <%= render partial: "#{section}", locals: {entries: entries} %>
</div>
<% end %>
