<p>
<%= link_to 'Edit Resume', edit_resume_path(@user_profile), :class=>"btn" %>
</p>

<% @resume.each do |section,entries| %>
<div class="well well-small box">
  <%= render partial: 'experience', locals: {experience: entries} if section==:experience %>
  <%= render partial: 'education', locals: {education: entries} if section==:education %>
  <%= render partial: 'skills', locals: {skills: entries} if section==:skills %>
</div>
<% end %>
