<div class="inner-heading-div">
  <p>Education
    <%= link_to 'Edit Resume', edit_resume_path(@user_profile), class: 'btn pull-right btn-inner-small' %>
  </p>
</div>


<%= render partial: 'section', locals: {section: :education} %>

<%= render partial: 'section', locals: {section: :skills} %>

<%= render partial: 'section', locals: {section: :experience} %>




