<p>
<%= link_to 'Edit Resume', edit_resume_path(@user_profile), :class=>"btn" %>
</p>

<div class="well well-small box">
  <%= render partial: 'section', locals: {section: :education} %>
</div>

<div class="well well-small box">
  <%= render partial: 'section', locals: {section: :skills} %>
</div>

<div class="well well-small box">
  <%= render partial: 'section', locals: {section: :experience} %>
</div>