<div class="well">
  <% experience_entry.each do |type,info| %>
    <% unless type == :title %>
      <b><%= type.to_s.gsub('_',' ').capitalize %></b>
    <% end %>
      <%= info %><br>
  <% end %>
</div>
