<div class="well">
  <% experience_entry.each do |type,info| %>
  <div class="panel panel-primary">
    <% unless type == :title %>
    <div class="panel-heading">
      <h3 class="panel-title"><%= type.to_s.gsub('_',' ').capitalize %></h3>
    </div>
    <% end %>
    <div class="panel-body">
      <%= info %>
    </div>
  </div>    
  <% end %>
</div>
