<div class="well well-small">
<fieldset>
  <legend>Skills</legend>
  <% resume_skills.sort.map do |type,entry| %>
    <%= render partial: 'skills_entry', object: entry %>
  <% end %>
</fieldset>
</div>