
<li class="skills-icon">
  <div class="skill-header">
    <h5><a href="#"><strong><%= skill %></strong></a></h5>
  </div>
  <img src="https://cdn1.iconfinder.com/data/icons/Primo_Icons/PNG/128x128/star_full.png" alt=""/>
  <div class="skill-bar-bot">
    <p>Endorsement:</p>
    <div class="progress progress-striped active">
        <div class="bar" style="width: 40%;"></div>
    </div>
  </div>
</li>
