<li class="skills-icon">
  <a href="#"><strong style="overflow: ellipsis;"><%= skill %></strong></a>
  <img src="http://www.cmcmarkets.co.uk/sites/default/files/trophy_icon_new.jpg" alt=""/>
  <p>Endorsement Status:</p>
  <div class="progress progress-striped active">
    <div class="bar" style="width: 40%;"></div>
  </div>
</li>