<div class="row-fluid">
	<div class="span6">
    <fieldset>
      <legend>Username</legend>
      <div class="well well-small">
        <%= @user.username %>
      </div>
    </fieldset>
  </div>
  <div class="span6">
    <%= render partial: 'contact', object: @contact %>
  </div>
</div>