<div class="row-fluid">
	<div class="span6">
    <fieldset>
      <legend>Username</legend>
      <div class="well well-small">
        <%= @user.username %>
      </div>
    </fieldset>
  </div>
  <div class="span6">
    <%= render partial: 'contact', object: @contact %>
  </div>
</div>

<div class="row-fluid">
	<div class="well">
    <h2>User feed goes here</h2><br>
    <h4>Infinite scroll MTF!</h4>
  </div>
</div>