<div class="row-fluid">
  <%= render partial: 'contact', object: @contact %>
</div>

<div class="row-fluid">
	<div class="well">
    <h2>User feed goes here</h2><br>
    <h4>Infinite scroll MTF!</h4>
		<div class="panel">
		 <%= image_tag("site/orange.jpg", border: 0, class: 'dock-item')  %>
		</div>
  </div>
</div>