<div class="project-list">
	<div class="row">
	<% projects.each_with_index do |project,index| %>
	  <div class="span3"><%= render partial: 'projects/display', locals: {project: project} %></div>
	  <% if (index+1)%4==0 %>
	    </div>
			<div class="row">
	  <% end %>
	<% end %>
	</div>
</div>