<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project.applications.each do |application| %>
      <tr>
        <td><%= application.status %></td>
        <td><%= link_to application.user.username, application.user.profile %></td>
        <td><%= link_to 'Details', application %></td>
      </tr>
    <% end %>
  </tbody>
</table>
