<table class="table table-striped table-bordered box">
  <thead>
    <tr>
      <th>Role</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project.collaborations.each do |collaboration| %>
      <tr>
        <td><%= collaboration.role %></td>
        <td><%= link_to collaboration.user.username, collaboration.user.profile %></td>
        <td><%= link_to 'Details', collaboration %></td>
      </tr>
    <% end %>
  </tbody>
</table>
