<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Invited by</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project.invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.status %></td>
        <td><%= link_to invitation.user.username, invitation.user.profile %></td>
        <td><%= link_to invitation.invited_by_user.username, invitation.invited_by_user.profile %></td>
        <td><%= link_to 'Details', invitation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
