<% if @subscription.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being made:</h3>

    <ul>
    <% @subscription.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>