<div class="row-fluid">
  <% @images.each_with_index do |image,i| %>
  <span class="gallery-item">
	  <a data-toggle="modal" href="#gallery<%= i %>"><%= gallery_image_tag(image,class: 'img-polaroid') %></a>
	</span>
	<div class="modal hide fade" id="gallery<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Image</h4>
	      </div>
	      <div class="modal-body">
	        <p><%= image_tag image.image.url %></p>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
  <% if (i+1)%5 == 0 %>
    </div>
    <div class="row-fluid">
	<% end %>
  <% end %>
</div>
