<p>
  <strong>Role:</strong>
  <%= @collaboration.role %>
</p>

<p>
  <strong>User:</strong>
  <%= @collaboration.user.username %>
</p>

<p>
  <strong>Project:</strong>
  <%= @collaboration.project.name %>
</p>

<%= link_to 'End Collaboration', @collaboration, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
