/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// NAVBAR Element ------------------------------------------------------------------

.navbar-inner {
  //box-shadow: 0px 1px 3px #000000;
  background-color: #1b1b24 !important;
  background-image: none !important;
  //background: none !important; 
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  padding: 10px 0 10px 0;

  #nav-center{
    width: 1000px;
    margin: auto;

    .logo {
      margin-top: 6px;
      margin-right: -2px;
      width: 30px;
    }

    #logo-li {
      margin-left: 2px !important;
    }
  }

  ul.nav {
    height: 40px;
    li {
      margin-left: 8px;
      margin-right: 8px;
      padding-top: 1px !important;

      .navbar-about {
        width: 75px;
      }

      .navbar-projects {
        width: 55px;
      }
      .navbar-about, .navbar-projects {
        display: table;
        line-height: 1.2em;
        margin-top: 2px;
        .multiline {
          text-decoration: none !important;
          vertical-align: middle;
          display: table-cell;
        }
      }
      a.white{
        color: #FFF !important;
        font-family: 'Merienda One', cursive;
        font-size: 9pt;

      }

    }
    .divider-vertical {
      height: 40px !important;
    }
  }
}

//---------------------------------------------------------------

// INTRO bar CSS styles


#intro-bar{

  background: linear-gradient(to bottom, #748600 0%, #9AC201 100%) repeat scroll 0 0 transparent;
  height: 190px;
  box-shadow: 0px 2px 5px #000000;

  .introbar-center{
    width: 940px;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;

    .intro-bar-left {
      width: 360px;
      float: left;
      color: white;
      .introbar-heading{
        font-size: 15pt;
        font-weight: bold;
        font-family: 'Denk One', sans-serif;
      }

      .introbar-buttondiv {
        margin-top: 40px;
        .button-left {
          margin-right: 10px;
        }
      }
    }

    .intro-bar-right{
      float: right;
    }
  }
}


// End Introbar-----------------------------------------------------------------------

// Footer area -----------------------------------

.footer{
  background: #000 !important;
  height: 200px;

  .footer-inner {
    width: 76em;
    margin: auto;

    .about-div{
      float: left;
      color: #FFF;
      margin-right: 50px;
    }
  }
}


// End Footer area--------------------------------------------------------------------------


// About page CSS

#about-content {
  margin-left: 2em;
}

.sub-nav {
  float: left;
  width: 180px;
}

// END About page CSS

.square {
  border-radius: 0 !important;
}

.hero-unit {
  padding: 1em 2em !important;
  border: 1px solid #BBB;
  background-color: #FFF;
	border-radius: 0;
}

.nav.nav-pills {
	margin: 0;
}

.divider-vertical {
	height: 45px !important;
	border-left: 1px solid #BBB !important;
	margin: 0 !important;
}

.brand {
  color: white !important;
  font-family: 'Lily Script One', cursive;
}

// Search bar CSS

#searchbar {
  border-radius: 0px 5px 5px 0px !important;
  background-image: linear-gradient(to bottom, white, #EAEAEA);
}

// -------------------------------------------------------------------------

.tabbable {
	clear: both;
  
	li {
		a:hover {
		  background: orange !important;
		}
  }

	.tab-content {
	  background: #EDEDED;
	}
	
	ul.nav-tabs {
	  margin-bottom: 0 !important;
	}
}

.heading-div {
  margin: 8px 0px;
  .heading {
    font-size: 16pt;
    font-family: 'Denk One',sans-serif !important;
    color: #888;
    margin: 5px 0px;
    font-weight: bold;
  }
}

.btn-gray {
  background: none repeat scroll 0 0 #828282;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  font-weight: 400;
  padding: 5px 10px 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font: 14px/21px "Helvetica Neue","Helvetica","Arial","Tahoma","Geneva",sans-serif;
}

.taskgroup-table {
  font-size: 9pt;
}

.li-hover-top {
  height: 3px;
  background: white;
  visibility: hidden;
}

.inner-heading-div{
  text-shadow: 1px 1px 0px #FFFFFF;
}

.title-font{
  font-family: 'Francois One',sans-serif !important;
}

.resume-list {
  margin-left: 20px !important;
}



// -----------------------------------------------


@import "bootstrap";





