/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.header-splitter {
	border-bottom: 5px solid;
	margin: 20px 0 20px 0;
}

.header-splitter-thin {
	border-bottom: 2px solid;
	margin: 20px 0 20px 0;	
}

.form-inline {
	display: inline;
}

// Avatar properties ---------------------------------------

.avatar {
	border-radius: 5px;
	background: white;
}

.avatar-thumb {
	width: 30px;
}

/*@import "bootstrap";*/

.brand {
	font-family: 'Iceberg', cursive !important;
	font-size: x-large !important;
}

#landing{
	.span8 h2 {
		margin-bottom: 20px;
	}
	
  #signup {

  	height: 200px !important;

		::-webkit-input-placeholder { /* WebKit browsers */
		    color:    #000;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color:    #000;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color:    #000;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color:    #000;
		}
	  background-image: image-url('bkg/footer.jpg');
		input[type=text]{
		  height: 60px;
		  width: 500px;
		  margin: auto;
		  border-radius: 0;
		  border: 2px solid white;
		  font-family: 'Iceberg', cursive;
		  font-size: x-large;
		  line-height: 30px;
		  background: none;
		  color: black !important;
		}
		input[type=submit] {
		  height: 72px;
		  background-image: image-url('landing/thumbs.png') !important;
		  background: none;
		  border: 2px solid white;
		  width: 72px;
		  -webkit-background-size:100% 100%;
		  -moz-background-size:100% 100%;
		  -o-background-size:100% 100%;
      	  background-size:100% 100%;
	  }
	}
	
	#banner {
	  background-image: image-url('bkg/bannerpic.png');

	  height: 350px;
	  h1 {
		  font-family: 'Iceberg', cursive;
	  }
	}

  #footer {
  	  h2{
  	  	margin: 0;
  	  }
	  height: 50px !important;
	  img {
		  width: 100px;
		}
		background: #6db6a2;
  }


	.hero-unit {
	  margin: 0 !important;
	  height: 250px;
	  border-radius: 0;
	}

  #footer, #banner, #signup {
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
  }

  #about1 {
	background-image: image-url('bkg/shattered.png');
   	img {
	    border-radius: 5px;
	    height: 280px;
	}
    .content{
      float:left;
      text-align: left;
    }
  }

  #about2 {
    background-image: image-url('bkg/type.png');
    img{
    	border-radius: 5px;
    	height: 280px;
    }
    .content{
      float: left;
      text-align: left;
    }
  }
}
