/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

#alerts {
  margin: 0 40px 0 40px;
}

.table {
  background: white;
}

#content {
  margin: auto;
  margin-top: 1.5em;
}

.navbar-inner{
  /*padding: 0em 8em !important;*/
  padding-top: 0.4em;

}

#nav-center{
  width: 75em;
  margin: auto;
}

.hero-unit {
  padding: 1em 2em !important;
}

.footer{
  background: #666 !important;
}

.box{
  border: 1px solid #BBB;
  box-shadow: 4px 4px 5px #888;
}

#card{
  padding: 1em;
}

.search{
  margin-left: 0.5em;
}

.hero-unit {
  border: 1px solid #BBB;
}

.project-box{
  height: 220px;
  width: 170px;
  background-color: #FFF;
  border: 1px solid #BBB;
}

.project-image-box{
  margin: auto;
  width: 75%;
}

.project-description {
  font-size: 9pt;
  line-height: 1.2em;
}

.project-action-panel{
  font-size: 9pt;
}
