// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-div{
  width: 100%;
  margin: 0px 50px;

  .comment-input {
    margin-right: 30px;
    float: left;
  }
  .comment-input textarea {
    width: 480px;
    height: 93px;
  }
  .comment-avatar img {
    height: 70px;
  }
}
.new_comment input.btn {
  width: 80px;
  background: black;
  color: white;
  margin-top: auto;
}


.single-comment-div{
  border-top: 1px dotted #A0A0A0;
  width: 600px;
  margin-left: 50px;
  clear: both;
  display: block;

  .single-comment-div .avatar{
    float: left;
    width: 12%;
  }
  .single-comment-inner {
    margin-top: 10px;

    .comment-content{
      width: 85%;
      float: right;
      font-size: 9pt;
      line-height: 1.2em !important;
    }
  }
}
#final-comment-splitter{
  clear: both;

}

