// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-div {
  background: #E4E4E4;
  padding: 20px;
}

.project-section {
  background: none repeat scroll 0 0 #EFEFEF;
  border: 1px solid #EDEDED;

  .section-title {
    background: none repeat scroll 0 0 #E4E4E4;
    border-bottom: 1px solid #D8D8D8;
    height: 30px;
    text-shadow: 1px 1px 0px #FFFFFF;

    .heading{
      color: #FF6600 !important;
      vertical-align: middle;
      padding-top: 8px !important;
      padding-left: 10px !important;
      font-family: 'Rationale', sans-serif;
      font-size: 12pt;

    }

    .label {
      float: right;
      margin-top: 7px;
      margin-right: 10px;
    }
  }

  .section-menu {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #D8D8D8;

    .nav-pills > li > a {
      margin-bottom: 0px !important;
    }

    .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
      background: #468847;
    }
  }

  .section-body {
    border-top: 1px solid #FFFFFF;
    overflow: hidden;
    padding: 15px 20px 3px;
  }
}

