// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.menu-section{
  background: black;
  background: #1B1B24;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  h2{
    padding-left: 10px;
  }
  .nav-pills{
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

.project-section{

  .span3{
    float: left;
    display: inline;
    margin-left: 1px !important;
    margin-right: 11px;
    margin-bottom: 10px;

  }
  .pagination{
    clear:both;
  }
}
