// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#popular-projects-menu{
	/*
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  .nav-pills{
    padding: 10px;
  }*/
}

#popular-projects {
	.row {
		margin-bottom: 20px;
	}
}
