// Place all the styles related to the Projects controller here.
// They will automatically be included in applicaltion.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading-buttons {
  float: right;
}

.project-div {
  background: #E4E4E4;
}

.button-gray {
  background-color: #DDDDDD;
  border: 0 none !important;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  color: #333333;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 7px;
  width: 50px;
  text-decoration: none;
  font: 14px/1.286 "Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
  font-size: 8pt;

	 a:hover {
	  text-decoration: none;
	}
}

$TotalHeight: 350px; $TotalWidth: 200px;

.project-box { 
	height: $TotalHeight; 
	width: $TotalWidth; 
	background-color: #FFF; 
	border-radius: 5px; 
	box-shadow: 1px 1px 1px #c3c3c3; 
	padding: 4px;
	
	.project-image-box{ 
		margin: 2px; 
		height: $TotalHeight*0.44;
		
		.project-image-avatar { 
			height: $TotalHeight*0.43; 
			width: $TotalWidth*0.98; 
		}
	}
	
	.project-detail-bar { 
		height: $TotalHeight*0.44;
		
		.title { 
			margin-bottom: 3px; 
		}
		
		.project-owner-avatar {
			width: 30px;
			height: 30px;
		}
		
		.project-description { 
			height: $TotalHeight*0.25; 
			margin-top: 3px; 
			font-size: 8pt;
		  line-height:15px;
		  text-overflow: ellipsis; 
		  overflow: hidden;
		}
	}
	
	.project-action-bar-splitter {
	   border-top: 1px dotted #666;
	}
	
	.project-action-panel { 
		font-size: 9pt; 
		height: $TotalHeight*0.12; 
	}
}




