// Place all the styles related to the ProjectProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-pills > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.project-logo {
  width: 300px;
}

.project-logo-div {
  float: left;
  padding: 10px;
  margin-bottom: 20px;
}

.logo-top {
  background: #E2E2E2;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.project-info-box {
  float: right;
  width: 570px;
  height: 190px;
  border-radius: 8px;
  padding: 15px;

}

.info-row {
  background: #FFF6EF;
  padding: 4px;
  margin-bottom: 10px;
}

.info-row .info-heading {
  float: left;
}

.project-content {
  clear: both;
}

.project-users-bar {
      float: left;
      width: 150px;
      height: 300px;
}

.news-post-div {
  background: #FFF;
  padding: 20px;

}

.post-left {
  width: 40%;
  float: left;

}

.nav-pills > li > a {
  margin-top: 0px !important;
}


.post-right {
  width: 60%;
  float: right;

}

.input-content{
  width: 350px !important;
}

.projects-container {
  width: 750px;
}

.projects-container form {
  margin: 0px !important;
}

.news-post {
   background: #FFF;
   border: 1px solid #BBBBBB;
}

.project-tab li a {
  color: #888 !important;
  font-size: 9pt;
}

.user-container {
  min-height: 200px;
  background: #E4E4E4;
}
