// Place all the styles related to the ProjectDetailsEntry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details-entry {
  margin-bottom: 15px;
	
	.details-entry-content {
		line-height: 2em;
		font-size: 12pt;
		padding: 0 10px 0 10px;
	}
	
	.details-entry-title {
	  text-align: center;
	}
}