// Place all the styles related to the Projects controller here.
// They will automatically be included in applicaltion.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects-container {
  background: #E4E4E4;
  padding: 20px;
}


.project-tabs {
  float: left;
  width: 700px;

}


.project-tab li a{
  margin-bottom: 0px;
}

.project-tab li.active a{
  background: #E4E4E4 !important;
  color: #000 !important;
}

.project-users-bar li a{
  margin-bottom: 0px;
}

.project-users-bar li.active a{
  background: #E4E4E4 !important;
  color: #000 !important;
}

.heading-buttons {
  float: right;
}

.button-gray {
  background-color: #DDDDDD;
  border: 0 none !important;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  color: #333333;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 7px;
  width: 50px;
  text-decoration: none;
  font: 14px/1.286 "Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
  font-size: 8pt;
}

.button-gray a:hover {
  text-decoration: none;
}



.profile-entry-title, .profile-entry-content {
  background: #FFF;
}

.profile-entry {
  margin-bottom: 15px;
}

.profile-entry-title {
  float: left;
  padding: 5px;
  color: #919191;
  font-weight: bold;
  border-bottom: 1px dotted #A0A0A0;
}

.profile-entry-content {
  padding: 5px;
  clear: both;
}



.project-action-bar-splitter {
   border-top: 1px dotted #666;
}




