// Place all the styles related to the Projects controller here.
// They will automatically be included in applicaltion.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Edit project page

form.edit_project { // defined by rails
	input[type=text] {
		width: 400px;
	}
	textarea {
		width: 680px;
		//resize: none;
	}
	.span2 {
		.img-polaroid {
			margin-bottom: 10px;
		}
  }
}

#gallery {
  li img {
	  cursor: pointer;
  }
  height: 300px !important;
}

.project-list {
	.row {
		margin-bottom: 20px;
	}
}

//Project Box Css
$TotalHeight: 400px; $TotalWidth: 200px;

.project-box {
  height: $TotalHeight;
  width: $TotalWidth;
  border-radius: 5px;
  background: #034482;
  color: #fff;
  box-shadow: 1px 1px 1px #000;
  padding: 4px 4px 20px 4px;
  margin-right: 0px !important;

  a {
	  color:#fff;
	}
	
  .project-image-box{
    margin: 2px;
    height: $TotalHeight*0.50;

    .project-image-avatar {
      height: $TotalHeight*0.49;
      width: $TotalWidth*0.98;
    }
  }

  .project-detail-bar {
    height: $TotalHeight*0.40;

    .title {
      margin-bottom: 3px;
    }

    .project-owner-avatar {
      width: 30px;
      height: 30px;
    }

    .project-description {
      margin-top: 3px;
      padding: 3px 3px 0 3px;
      overflow: hidden;
      span {
        font-size: 10pt;
        line-height:10px;
      }
    }
    overflow: hidden;
  }

  .project-action-bar-splitter {
    margin-top: 10px;
    height: 4px;
    border: 0;
    box-shadow: inset 0 4px 4px -4px rgba(0,0,0,0.5);
  }

  .project-action-panel {
    font-size: 10pt;
  }
}



