// Place all the styles related to the ProjectProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Project Title Bar ------------------------------------------------

.project-title-bar{
  height: 100px;
  margin-bottom: 20px;

  .project-title-image-div {
    width: 100px;
    float: left;
    margin-right: 20px;
  }

  .project-headers-div{
    float: left;
    width: 640px;

    .project-title-div {
      margin: 8px 0px;

      .project-title {
        font-family: 'Happy Monkey', cursive;
        text-transform: capitalize;
        font-size: 22pt;
        color: #333;
        margin-top: 20px;
      }
    }

    .project-owner-div {
      font-size: 13pt;
      margin-bottom: 5px;
    }

  }

  .project-action-div{
    float: right;
    width: 80px;

    a{
      width: 70px !important;
      margin-bottom: 5px;
    }
  }


}

// End Project Title Bar --------------------------------------------

// Project-profile content tabs

.project-content {

  clear: both;

  .project-tabs {
    float: left;
    width: 700px;

    .project-tab li.active a {
      text-shadow: #fff 0 1px 0;
    }
  }
}

.project-tab li a {
  color: #888 !important;
  font-size: 9pt;
}

// End Project-profile content tabs -------------------------------------------

// Project-profile user bar tabs

.project-users-bar {
  float: right;
  width: 200px;

}

// End Project-profile user bar tabs


.nav-pills > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.news-post-div {
  background: #FFF;
  padding: 20px;
  border: 1px solid #999;
  box-shadow: 2px 2px 2px #D4D4D4;
  margin: 0px 20px;
  margin-bottom: 20px;

}


.nav-pills > li > a {
  margin-top: 0px !important;
}

 #news_post_title {
   width: 300px !important;
   border: 1px solid #999;
 }

.input-content{
  width: 500px !important;
  height: 80px !important;
  border: 1px solid #999;
}


.projects-container form {
  margin: 0px !important;
}

.news-post {
   background: #FFF;
   border: 1px solid #999;
   margin: 0px 20px;
}

.user-container {
  min-height: 200px;
  background: #E4E4E4;
  padding-left: 11px;
}



.scrollspy-users {
  height: 400px;
  width: 180px;
  overflow: auto;
  position: relative;
}





.project-action-div input.btn[type="submit"] {
  width: 96px !important;
}


