body {
  font-size: 13px;
  line-height: 18px;
  background: image-url('bkg/paper.png') center center no-repeat;
  background-attachment: fixed;
  color: #7a7a8a;
  margin: 0;
  padding-top: 100px;
}

h1,h2,h3,h4,h5,h6 {
	color: #CCC;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* Rails defined form styles */
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.alert, .alert-success {
  margin-top: 30px !important;
  margin: auto !important;
}

/* Rails defined error styling ----------------------------*/

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* Removes focus outline of unimportant things, like the user dropdown in the navbar */

*:focus {
  outline: none;
}

#alerts {
  margin: 0;
}

// Linked button styles -------------------------------------------------------

.btn-inner-small{
  font-size: 9pt;
  padding: 1px 8px !important;
}

//--------------------------------------------------------------------------------------





