// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasktable-header td{
  font-size: 7.5pt;
  padding: 0px;
  text-align: center;
}

.task-details-collapse {
  display: none;
}
