// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#card {
  padding: 1em;
  border: 1px solid #BBB;
}

#avatar{
  float: left;
  background: #F6F6F6;
}

.row-fluid div {
  min-height: 0 !important;
}


#user_avatar{
  width: 180px !important;

}