// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar-div{
  float: left;
  margin-right: 40px;

  #user_avatar{
    width: 180px !important;
    margin-bottom: 8px;
  }

  .user-name {
    font-family: 'Francois One',sans-serif !important;
    font-size: 14pt;
    text-align: center;
  }

  .full-name {
    font-family: 'Happy Monkey',cursive;
    margin: auto;
    text-align: center;
  }

  #card{
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 11pt;
    width: 185px;
  }

}

.user-tab-wrapper {
  float: right;
  width: 710px;

  .user-tabs li.active a {
    background: #E4E4E4 !important;
  }

  .user-tab-content {
    background: #E4E4E4;
    padding: 20px;
  }
}

.edit-contact-card-div {
  width: 100%;

  .edit-contact-card {
    background: white;
    padding: 20px;
    border: 1px solid #DDD;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    font-family: 'Denk One',sans-serif;
    color: #666666 !important;
    float: left;
    margin-right: 30px;
  }
}

.edit-resume-div {
  clear: both;
}






