// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-form-div {
  float: left;
  background: white;
  padding: 30px;
  border: 1px solid #DDD;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
  font-family: 'Denk One',sans-serif;
  color: #666666 !important;
  margin-right: 40px;

  input.itext{
    background: #FEF1E8 !important;
    border-radius: 7px 7px 7px 7px !important;
  }

  .btn-orange {
    background-color: #FF8719 !important;
    background-image: linear-gradient(to bottom, #FF9D29, #FF6600) !important;
    min-width: 100px;
    height: 30px;
    color: white !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px !important;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.75);
  }
}











