// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#card{

  float: left;

  font-family: 'Denk One',sans-serif;
  color: #666666 !important;
  width: 180px;

}

#avatar{
  float: left;
  background: #F6F6F6;
}

#user_avatar{
  width: 180px !important;
}

.sidebox {
  background: white;
  padding: 12px;
  border: 1px solid #DDD;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
  font-family: 'Denk One',sans-serif;
  color: #666666 !important;


}

.avatar-div{
  float: left;
  margin-right: 40px;
}

.profile-links{
  float: left;
  margin-right: 40px;
  width: 180px;
}

.action-bar {
  background: white;
  /* border: 1px solid #DDD;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12); */
  font-family: 'Denk One',sans-serif;
  color: #000 !important;
  width: 180px;

}

.action-bar button{
  margin-bottom: 10px;

}

.orange {
  color: #000;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
  font-family: 'Francois One',sans-serif !important;
}
.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
  font-family: 'Francois One',sans-serif !important;
}
.orange:active {
  color: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
  font-family: 'Francois One',sans-serif !important;
}

.tabbable {
  clear: both
}
