<div class="container-fluid">
	<div class="row-fluid">
		<div class="offset4 span4">
			<h1>Application</h1>
      <%= render 'form' %>
      <%= link_to 'Cancel', @application.project.profile %>
    </div>
  </div>
</div>
