<div class="footer">
   <div class="footer-inner">
      <div class="about-div">
      </div>
      <h4>Activity</h4>
      <% if user_signed_in? %>
        <% current_user.activities.includes(:activity_references).each do |activity| %>
			    <%= render partial: 'layouts/activity', object: activity %>
			  <% end %>
		  <% end %>
      <div id="info-div">
      </div>
   </div>
</div>