<div class="footer">
   <div class="footer-inner">
      <div class="about-div">
         <h4 class="footer-about-heading">Projectore</h4>
        Projectore is ...
      </div>

      <div id="info-div">
           About
      </div>
   </div>
</div>